<div class="basic-table">
  <h3>
    <span>
      {{ tableTitle }}
    </span>
    <a class="basic-table__add-button item-create" title="Create item" data-type="{{ skillType }}">
      +
    </a>
  </h3>
  <table>
    <thead>
      <th>
        {{localize 'MYTHRAS.Name'}}
      </th>
      <th>
        {{localize 'MYTHRAS.Base_Char'}}
      </th>
      <th>
        {{localize 'MYTHRAS.Roll'}}
      </th>
      <th class="delete-column">
        <i class="fas fa-trash"></i>
      </th>
    </thead>
    <tbody>
      {{#each skills as |item id|}}
      <tr class="item" data-item-id="{{item.id}}">
        <td>
          <a class="item-name item-control item-edit">
            {{item.name}}
          </a>
        </td>
        <td>
          {{formatSkillAbbrev item.system}}
        </td>
        <td>
          <a class="skill-val rollableSkill">
            {{item.totalVal}}%
          </a>
        </td>
        <td>
          <a class="item-control item-delete delete-column" title="Delete Item">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>